.container {
    width: 200px;
    height: 200px;
    border: 2px solid black; 
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.target {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px dashed black; 
}



.shaped-table {
    width: 300px;
    border-collapse: separate;
    margin-top: 20px;
}
.shaped-table td{
    border: 2px solid black;
    height: 50px;
    text-align: center;
    width: 150px;
}
.shaped-table tr:nth-child(2) td:nth-child(odd) {
    background-color: lightgray;
}



.rectangle {
    width: 300px;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 0px; 
    margin-top: 20px;
}
.ligne {
    color: white;
    background-color: purple;
    padding: 10px;
    margin-bottom: 5px;
}
.ligne.a{
    width: 75px;
}
.ligne.b{
    width: 200px;

}
.ligne.c{
    margin-left: 75px;
    text-align: right;
}
.ligne.d{
    text-align: right;
    width: 75px;
}



.row{
    width: 300px;
    height: 50px;
    font-size: 0;
}
.box{
    display: inline-block;
    width: 15%;
    height: 50px;
    font-size: 1rem;
    color: white;
    line-height: 50px;
    text-align: center;
}
.red-row .box{
    margin-top: 2px;
    background-color: red;
}
.black-row .box{
    background-color: black;
    margin-bottom: 10px;
}


.principal{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin-top: 10px;
    position: relative;
  }
  .carre{
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
  }
  .hg{
    top: 0;
    left: 0;
  }
  .hd{
    top: 0;
    right: 0;
  }
  .bg{
    bottom: 0;
    left: 0;
  }
  .bd{
    bottom: 0;
    right: 0;
  }
  .centre{
    bottom: 50%;
    right: 50%;
  }
  
  
  .principalcercle{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 20px;
  }
  .cercle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    float: left;
    background-color: #8BC34A;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
  }
  
  
  .principalcercle2{
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    overflow: hidden;
    width: 200px;
  }
  .principalcercle2 .cercle2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    background-color: #8BC34A;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
.b2{
    float: right;
}
.c2{
    float: left;
}
.d2{
    float: right;
}
.principalcercle2:first-of-type .cercle2:nth-child(3){
    clear: both;
}
.principalcercle2:last-of-type .cercle2:nth-child(3){
    clear: both;
}

